# Pandas Intro

In [1]:
import pandas as pd
import numpy as np

## Series
Представляет собой соловарь фиксированной длины с упорядоченным набором ключей

In [ ]:
obj = pd.Series([4, 7, -5, 3]) # Индекс задается по умолчанию
obj

0    4
1    7
2   -5
3    3
dtype: int64

In [3]:
obj.array

<NumpyExtensionArray>
[np.int64(4), np.int64(7), np.int64(-5), np.int64(3)]
Length: 4, dtype: int64

In [4]:
obj.index

RangeIndex(start=0, stop=4, step=1)

In [15]:
obj2 = pd.Series([4, 7, -5, 3, 3], index=["d", "b", "a","c", "c"]) # Можем явно задать индекс
obj2

d    4
b    7
a   -5
c    3
c    3
dtype: int64

In [6]:
obj2.index

Index(['d', 'b', 'a', 'c'], dtype='object')

In [7]:
obj2["a"]

np.int64(-5)

In [8]:
obj2["d"] = 6

In [9]:
obj2

d    6
b    7
a   -5
c    3
dtype: int64

In [ ]:
### Фильтрация

In [10]:
obj2[obj2 > 0]

d    6
b    7
c    3
dtype: int64

### Операции c сериями

In [ ]:
obj2 * 2 # Умножение на число

d     8
b    14
a   -10
c     6
c     6
dtype: int64

In [18]:
np.exp(obj2) #Применение функций

d      54.598150
b    1096.633158
a       0.006738
c      20.085537
c      20.085537
dtype: float64

In [19]:
"b" in obj2

True

In [20]:
"r" in obj2

False

### Series можно создать из словаря

In [21]:
sdata = {"Ohio": 35000, "Texas": 71000, "Oregon": 16000, "Utah": 5000}

obj3 = pd.Series(sdata)
obj3

Ohio      35000
Texas     71000
Oregon    16000
Utah       5000
dtype: int64

### Можно перестраивать индексы

In [24]:
obj = pd.Series([4, 7, -5, 3])
obj.index = ["Bob", "Steve", "Jeff", "Ryan"]
obj

Bob      4
Steve    7
Jeff    -5
Ryan     3
dtype: int64

## DataFrame

Создание DataFrame

In [25]:
data = {"state": ["Ohio", "Ohio", "Ohio", "Nevada", "Nevada","Nevada"],
          "year": [2000, 2001, 2002, 2001, 2002, 2003],
          "pop": [1.5, 1.7, 3.6, 2.4, 2.9, 3.2]}
frame = pd.DataFrame(data)
frame

    state  year  pop
0    Ohio  2000  1.5
1    Ohio  2001  1.7
2    Ohio  2002  3.6
3  Nevada  2001  2.4
4  Nevada  2002  2.9
5  Nevada  2003  3.2

### Получение данных

In [27]:
frame.head(2)

  state  year  pop
0  Ohio  2000  1.5
1  Ohio  2001  1.7

In [28]:
frame.tail(2)

    state  year  pop
4  Nevada  2002  2.9
5  Nevada  2003  3.2

### Доступ к данным

In [30]:
frame["state"] #Получение колонки

0      Ohio
1      Ohio
2      Ohio
3    Nevada
4    Nevada
5    Nevada
Name: state, dtype: object